.maindiv{
    background-color: bisque;
    width:388px;
    height: 705px;
    margin-left: 40%;
    border-radius: 25px;
    border: 4px solid black;}

p{
    color: black;
    margin-left: 20px;
    
}
h1{
    color: black;
    text-align: left;
    padding-top: 11%;
    padding-left:5%;
    font-size:20px;
    font-family: sans-serif;
    font-weight:40px;
}
.notch{
    background-color: black;
    height:3%;
    width:90px;
    margin-left: 35%;
    margin-top: -38px;
    border-radius: 26px;
    display: flex;
}
.header_1{
    position: relative;
    left: 10px;
}

.middle{
    display: flex;
    margin-left: 12px;
    position: relative;
    left: 10px;
}
h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer{
    position: relative;
    top: 15px;
    left:10px;
}
.footer_1{
    background-color: grey;
    margin-top:60px;
    margin-left: 25px;
    width: 88%;
    height: 6%;
    border-radius: 25px;

}